In [9]:
import pandas as pd 
import numpy as np 
from googleapiclient.discovery import build

In [10]:
recent_video = pd.read_csv("../datasets/recent_video.csv")
recent_video = recent_video .dropna()
recent_video

                   chanel_ids    video_ids
0    UCMMvwLa0iHtOhIGAb9O_DKA  Pf-Vd9xEltA
1    UCMMvwLa0iHtOhIGAb9O_DKA  V3SSrZCBuxw
2    UCMMvwLa0iHtOhIGAb9O_DKA  j0Y9kHqyFBM
3    UCMMvwLa0iHtOhIGAb9O_DKA  L3kXVQ7E-X8
4    UCMMvwLa0iHtOhIGAb9O_DKA  O-zMMw9QPDE
..                        ...          ...
986  UCy5mCavdPToXDwzhszKFifg  JS_fVPguIKI
987  UCy5mCavdPToXDwzhszKFifg  u021sVjSobc
988  UCy5mCavdPToXDwzhszKFifg  V82WAukhXU4
989  UCy5mCavdPToXDwzhszKFifg  EbNy51NRTxk
990  UCy5mCavdPToXDwzhszKFifg  rWDrXMrZvdg

[990 rows x 2 columns]

In [11]:
api_key = "AIzaSyDQ4yeizQdQeb7avDlzHtKKUzfj8ukm68E"
youtube = build('youtube', 'v3', developerKey=api_key)

In [12]:
def get_video_details(video_id):
    response = youtube.videos().list(
        part='snippet,statistics, contentDetails, topicDetails',
        id=video_id
    ).execute()
    if not response["items"]:
        return 0
    video = response['items'][0]
    
    video_id = video['id']
    channel_id = video['snippet']['channelId']
    publish_at = video['snippet']['publishedAt']
    duration = video['contentDetails']['duration']
    views = video['statistics']['viewCount']
    try: 
        likes = video['statistics']['likeCount']
    except:
        likes = 0
    try:
        dislikes = video['statistics']['dislikeCount']
    except:
        dislikes = 0
    try:
        comments = video['statistics']['commentCount']
    except:
        comments = 0
    try:
        topic = [topic.split('/')[-1] for topic in video['topicDetails']['topicCategories'] ]
    except:
        topic = ""
    return video_id, channel_id, publish_at, duration, views, likes, dislikes, comments, topic

In [13]:
video_ids = recent_video["video_ids"]
video_details = []
count = 0
for video_id in video_ids:
    video_data = get_video_details(video_id)
    if not video_data:
        continue
    video_details.append(video_data)
    count += 1

columns = ['video_id', 'channel_id', 'publish_at', 'duration', 'views', 'likes', 'dislikes', 'comments', 'topic']
video_details_df = pd.DataFrame(video_details, columns=columns)

In [14]:
video_details_df

,video_id,channel_id,publish_at,duration,views,likes,dislikes,comments,topic
0,Pf-Vd9xEltA,UCMMvwLa0iHtOhIGAb9O_DKA,2023-07-13T09:02:01Z,PT49S,49122,1339,0,0,[Entertainment]
1,V3SSrZCBuxw,UCMMvwLa0iHtOhIGAb9O_DKA,2023-07-13T02:22:15Z,PT10M10S,8340,43,0,1,[Lifestyle_(sociology)]
2,j0Y9kHqyFBM,UCMMvwLa0iHtOhIGAb9O_DKA,2023-07-13T01:50:40Z,PT28S,105051,2459,0,5,[Lifestyle_(sociology)]
3,L3kXVQ7E-X8,UCMMvwLa0iHtOhIGAb9O_DKA,2023-07-12T13:18:42Z,PT10M1S,19269,82,0,2,[Lifestyle_(sociology)]
4,O-zMMw9QPDE,UCMMvwLa0iHtOhIGAb9O_DKA,2023-07-12T12:38:58Z,PT27S,703410,11392,0,9,[Entertainment]
...,...,...,...,...,...,...,...,...,...
985,JS_fVPguIKI,UCy5mCavdPToXDwzhszKFifg,2023-07-08T13:00:12Z,PT11S,15245,296,0,0,[Entertainment]
986,u021sVjSobc,UCy5mCavdPToXDwzhszKFifg,2023-07-06T15:00:43Z,PT16S,16690,341,0,0,[Entertainment]
987,V82WAukhXU4,UCy5mCavdPToXDwzhszKFifg,2023-07-06T14:00:16Z,PT10S,1439077,16326,0,12,[Lifestyle_(sociology)]
988,EbNy51NRTxk,UCy5mCavdPToXDwzhszKFifg,2023-07-05T15:00:11Z,PT15S,54047,907,0,0,[Entertainment]
989,rWDrXMrZvdg,UCy5mCavdPToXDwzhszKFifg,2023-07-05T14:00:36Z,PT9S,165160,1835,0,1,"[Food, Lifestyle_(sociology)]"

In [15]:
video_details_df.to_csv("../datasets//video_details.csv", index=False)